# for rlbench_rpt
torch
torchvision
torchaudio
pyyaml
rospkg
pexpect
mujoco==2.3.7
dm_control==1.0.14
opencv-python
matplotlib
einops
packaging
h5py
ipython
diffusers
termcolor
imageio
onnx

# for FILM,TTS,LLM
psutil 
h5py_cache 
transformers 
pynvml 
psutil 